name: Testflight

on:
  workflow_call:
  workflow_dispatch:

jobs:
  testflight:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Testflight repository
        uses: actions/checkout@v5
        with:
          repository: "${{ github.repository_owner }}/Apple-Testflight-Bot"
          path: "${{ github.workspace }}/"
          token: "${{ secrets.PAT }}"

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          pip install -r ${{ github.workspace }}/requirements.txt

      - name: Run Testflight script
        run: |
          python ${{ github.workspace }}/Testflight.py